<div class="row">
  <div class="col-xs-4 col-xs-push-4 form">
    <h1>Edit User Info</h1>
    <%= render 'form' %>
    <p>
      <%= link_to "@#{current_user.username}", @user %> |
      <%= link_to 'Back', users_path %>
    </p>
  </div>
</div>
