/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * General formatting
 */

body
  background-color: #F8F8F8
  font-size: 18px

p
  font-size: 18px

header
  height: 72px
  line-height: 72px
  font-size: 24px
  background-color: #FFFFFF
  border: solid #C8C8C8
  border-width: 0 0 2px 0
  text-align: center

footer
  height: 36px
  line-height: 36px
  font-size: 24px
  text-align: center
  background-color: #FFFFFF

.row
  width: 100%

.col-xs-1
  width: 8.333333%
  float: left

.col-xs-2
  width: 16.666666%
  float: left

.col-xs-3
  width: 25%
  float: left

.col-xs-4
  width: 33.333333%
  float: left

.col-xs-5
  width: 41.666666%
  float: left

.col-xs-6
  width: 50%
  float: left

.col-xs-7
  width: 58.333333%
  float: left

.col-xs-8
  width: 66.666666%
  float: left

.col-xs-9
  width: 75%
  float: left

.col-xs-10
  width: 83.333333%
  float: left

.col-xs-11
  width: 91.666666%
  float: left

.col-xs-12
  width: 100%

/*
 * Formatting for post show page
 */

.post
  width: 100%
  background-color: #FFFFFF

.post-head
  line-height: 32px

.thumb-img
  border-radius: 100%

.post-im
  width: 100%

.post-discussion
  padding: 6px
